services:
  redis-sentinel:
    image: redis:7.2-alpine
    container_name: "redis-sentinel-${SENTINEL_PORT}"
    restart: unless-stopped

    command: ["redis-server", "/etc/sentinel/sentinel.conf", "--sentinel"]

    ports:
      - "${SENTINEL_PORT}:26379"

    volumes:
      - "${CONF_FILE}:/etc/sentinel/sentinel.conf"
