services:
  redis-sentinel:
    image: redis:7.2
    container_name: "redis-sentinel-${SENTINEL_PORT}"
    restart: unless-stopped

    command: ["redis-sentinel", "/etc/redis/sentinel.conf"]

    ports:
      - "${SENTINEL_PORT}:${SENTINEL_PORT}"
    volumes:
      - "${CONF_FILE}:/etc/redis/sentinel.conf"
