# App Environment Template
NODE_ENV=production

# Add your variables below
API_URL=
MONGO_URI=
REDIS_URI=

# Auto-filled during setup:
# PORT=<added>

NEXT_PUBLIC_FRONTEND_BASE_URL=https://dev-wallet.9772424365.com
NEXT_PUBLIC_WALLET_FRONTEND_BASE_URL=https://dev-wallet.9772424365.com
NEXT_PUBLIC_BUS_FRONTEND_BASE_URL=https://dev-bus.9772424365.com
NEXT_PUBLIC_AIR_FRONTEND_BASE_URL=https://dev-air.9772424365.com

http://dev-wallet.9772424365.com/